<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.condoview">

    <!-- Permissões para acessar a galeria e a câmera -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:label="condoview"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Especifica um tema Android a ser aplicado a esta atividade assim que
                 o processo Android for iniciado. Esse tema é visível para o usuário
                 enquanto a UI Flutter inicializa. Após isso, esse tema continua
                 determinando o fundo da janela atrás da UI Flutter. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"/>
              
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <!-- Intent Filter para Deep Linking -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="myapp" android:host="confirm" android:pathPrefix="/"/>
            </intent-filter>
        </activity>

        <!-- Não delete o meta-data abaixo.
             Isso é usado pela ferramenta Flutter para gerar o GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2"/>
    </application>

    <!-- Necessário para consultar atividades que podem processar texto, veja:
         https://developer.android.com/training/package-visibility e
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.
         Em particular, isso é usado pelo mecanismo Flutter no io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
